<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.kruty1918.quietcamp.privacy">
  <application>
    <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" tools:replace="android:value" />
    <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" tools:replace="android:value" />
    <meta-data android:name="google_analytics_default_allow_analytics_storage" android:value="false" tools:replace="android:value" />
    <meta-data android:name="google_analytics_default_allow_ad_storage" android:value="false" tools:replace="android:value" />
    <meta-data android:name="google_analytics_default_allow_ad_user_data" android:value="false" tools:replace="android:value" />
    <meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="false" tools:replace="android:value" />
  </application>
</manifest>
